.main-container {
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.search {
    width: 50%;
    padding: 10px 20px;
    margin: 20px 0 20px 20px;
}

.search-btn {
    padding: 12px 10px;
    border: none;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.players-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.right-site {}


.item-length {
    /* border: 1px solid gray; */
    box-shadow: 0 4px 8px gray;
    margin-right: 5px;
    padding: 10px;
}